doctype html
html
	head(lang="es")
		title Layout 5 flexbox
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
		link(rel="stylesheet", href="css/style.min.css", type="text/css")
	body
		h1 Layout Flex Responsive
		.container
			.layout
				a(href="1/index.html")
					img(src="img/01.jpg", alt="")
			.layout
				a(href="2/index.html")
					img(src="img/02.jpg", alt="")
			.layout
				a(href="3/index.html")
					img(src="img/03.jpg", alt="")
			.layout
				a(href="4/index.html")
					img(src="img/04.jpg", alt="")
			.layout
				a(href="5/index.html")
					img(src="img/05.jpg", alt="")
