doctype html
html
	head(lang="es")
		title Layout flexbox
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
		link(rel="stylesheet", href="css/style.min.css", type="text/css")
	body
		.container
			h1 Layout 1
			header.header
				.content
					<!-- your content here -->
					h2 Header
			aside.aside-1
				.content
					<!-- your content here -->
					h2 Aside 1
			section.section
				.content
					<!-- your content here -->
					h2 Section
			footer.footer
				.content
					<!-- your content here -->
					h2 Footer
